h1{background-color: purple; color:yellow}
.lesson-1{background-color: #0000ff; color:orange}
.contact{background-color: #050505; color:white}
.h3{background-color:#050505;color:white}
.email{color:white}
.github{color:white}
.portfolio{color:yellow}